.img{
  height: 70px;
 margin-top: 10px;
}
.img1{
 height: 50px;
 width: 50px;
}
.rate{
width: 12rem;
}
.a1{
height: 9rem;
}
.btn{
 width: 3rem;
}
.inline{
 display: flex;
 flex-wrap: nowrap;
 font-size: 14px;
width:130%;
margin-right: 20px;

}

.inline1{
 display: flex;
 flex-wrap: nowrap;
 font-size: 14px;
width:130%;
margin-left: 20px;

}
.btn1{
 width:7rem ;
 margin-left: 9rem;
}
.kk{
 height: 4rem;
 width: 4rem;
 float: left;
}
.v1{
 margin-right: 40rem; 

}
.r1{
 height: 2rem;
 margin-right:5rem;
}
.r2{
 height: 4rem;
 margin-right:5rem;
 margin-bottom: 6rem;
}
.tt{
 margin-left: 175px;
}
.mm{
 margin-left: 90px;
}
.pp{
 margin-left: 117px ;
}
ion-card{
 border-radius: 20px;
width: 18rem;
margin-top: -5px;
}
.img2{
 
 margin-top: 15px;
 height:25%;
 width: 25%;
 }
.flex2{
 display: flex;
 flex-wrap:nowrap;  
}
.flex{
 display: block;
}
.t1{
font-size: 15px;
font-weight: bold;
color: black;
margin-top: 10px;
}
.qua{
 width: 50px;
 height: 20px;
 background-color: rgb(233, 240, 231);
 color: black;
 h6{
     margin-left: 6px;
 }
}
.ion-padding custom-background {
 padding-left: 0%; }
.center-container{
 background-color:#fcffff;
 margin-top: -11px;
}
.btn4{
 width: 270px; 
 height: 20px;
 margin-left: 12%;
 --border-radius: 100px;
 --background :#01bbcf;
 font-size: large;
 margin-bottom: 15px;
}
.flex3{
 display:flex;
 flex-wrap: wrap;
}
.t5{
 margin-top: 15px;
 font-size: 15px;
 font-weight: bold;
 color:black ;
}
.t6{
 margin-left: 50px;
} 
.center{
margin-left: 60px;
 color: #fcffff;
}
.in{
 display: flex;
 color: #fcffff;
}
.toolbar{
 --background :#01bbcf
}
.m1{
  margin-top: -21px;
}
.j1{
 margin-left: 20px;
}
.text{
 margin-left: 20px;
}